@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5">
    <img src="~/img/RobinsonFamilyCrest.png" height="150px" width="auto" alt="Robinson Crest"/>
    <h1 class="logoColor" style="display:inline">Robinson University</h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/UniversityStairs.jpg" class="d-block w-100 h-5" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/classroom.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/library.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Robinson University</h2>
        <p>
            Robinson University Offers Free-of-Charge admission!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn What you want</h2>
        <p>With Hundreds of Majors and excelent departments, all students can learn exactly what they want</p>
    </div>
    <div class="col-md-4">
        <h2>State of the Art</h2>
        <p>Robinson University is at the cutting edge of all types of exciting technologies.</p>
    </div>
</div>